@use 'variables'
@use 'mixins'

section.monitor
    background-color: #131117

    .container-monitor
        @include mixins.d-flex-center(column)
        width: 100%
        padding-block: 5rem
        gap: 1rem

        .main-content
            @include mixins.d-flex-center
            gap: 50px

            .left
                @include mixins.d-flex-center(column)
                gap: 2rem
                max-width: 450px
                color: #fff

                h1
                    font-size: 3rem
                    font-weight: 600

                p
                    font-size: 1.1rem
                    color: #999
                    line-height: 1.5rem

            .right
                img
                    width: 100%

        .bottom-content-wraper
            @include mixins.d-flex-center
            gap: 40px
            max-width: 1180px

            .info-box
                max-height: 112px
                @include mixins.d-flex-center
                gap: 1.5rem
                padding: 2rem
                background: #1C1824
                border-radius: 6px
                color: #fff
                font-weight: 500
